#about{:style=>"display:block;margin:1em;border:1px solid black;padding:1em;"}
  .about
    %br
    Alfadeo is a collective of sound and media artists from freiburg/germany and basel/switzerland. we produce electronic music, set up installations, create videos and digital photography favoring context specific improvisation over theoretical concepts, genres and boring edit sessions. alfadeo is active since 2000.
    %br
    we release our work under creative common licenses at:  
    %a{:href => "http://miniaturarecords.net"} Miniatura Records, 
    %a{:href => "http://audiocast-productions.co.uk"} Audiocast Productions, 
    %a{:href => "http://vkrs.co/netlabel"} VKRS Netlabel, 
    %a{:href => "http://astorbell.com"} Astor Bell, 
    %a{:href => "http://soundcloud.com/alfadeo"} SoundCloud, 
    %a{:href => "http://vimeo.com/alfadeo"} Vimeo, 
    %a{:href => "http://alfadeo.bandcamp.com"} Bandcamp
    %br
    and sell collectibles in limited editions at
    %br
    %a{:href => "http://alfadeo.spreadshirt.de"} Spreadshirt
    %br
    please contact art [at] alfadeo [dot] de if you want to book us for live shows or custom installations.

