#new{:style=>"display:block;margin:1em;border:1px solid black;padding:1em;"}
  %iframe{ :style=>"border: 0; width: 350px; height: 522px;", :src=>"http://bandcamp.com/EmbeddedPlayer/album=2159096200/size=large/bgcol=333333/linkcol=ffffff/transparent=true/"}
