#div{:id => "video-darage-bang-remix", :style=>"display:block;margin:1em;border:1px solid black;padding:1em;"}
  %iframe{:src=>"http://player.vimeo.com/video/74063849", :style=>"width:640;height:360;frameborder:0;"}
#div{:id => "video-buddy-home", :style=>"display:block;margin:1em;border:1px solid black;padding:1em;"}
  %iframe{:src=>"http://player.vimeo.com/video/72675785", :style=>"width:640;height:360;frameborder:0;"}
#div{:id => "video-truck2", :style=>"display:block;margin:1em;border:1px solid black;padding:1em;"}
  %iframe{:src=>"http://player.vimeo.com/video/39069438", :style=>"width:640;height:360;frameborder:0;"}
